body{
	font-family: Arial;
}
.title{
	text-align: center;
	color: 	#fca811;
	font-size: 100px;
	font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
	font-weight: bold;		
}
.info{
	color: white;
	text-align: center;
	font-size: 400%;
	font-family: "Dancing Script";	
}
.subTitle{
	text-align: center;
	color: 	white;
	font-size: 20px;
	background-color: #0256c1;
	border: 2px solid white;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
	font-weight: bold;	
}

.subTitleKK{
	text-align: center;
	color: 	yellow;
	font-size: 20px;
	background-color: #0256c1;
	border: 2px solid white;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 40px;
	margin-right: 40px;
	font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
	font-weight: bold;	
}

.number{
	text-align: center;
	color: blue;
	font-size: 50px;
	/*	background-color: red;*/
	/*	border: 2px solid red;*/
	padding-top: 30px;
	padding-bottom: 5px;
	padding-left: 3px;
	font-weight: bold;	
	height: 200px;
	width: 200px;
	background-image: url('../../images/blue-circle.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.number1{
	text-align: center;
	color: red;
	/*border: 2px solid red;*/
	font-size: 20px;
	padding-top: 15px;
	font-weight: bold;	
	height: 45px;
	width: 45px;
	background-image: url('../../images/83circle.png');
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

}
.t1{
	background-color: #84c4e9;
	font-weight: bold;
	font-size: 13px;
	width: 70%;
	float: left;
	color: white;
	text-align: center;
}	
.t1-num{
	background-color: #84c4e9;
	font-weight: bold;
	font-size: 13px;
	color: red;
	width: 10%;
	float: left;	
	text-align: center;		
}
.t1-num span{
}
.t2{
	background-color: #84c4e9;
	font-weight: bold;
	font-size: 13px;
	width: 70%;
	float: left;
	color: white;
	text-align: center;
}	
.t2-num{
	background-color: #84c4e9;
	font-weight: bold;
	font-size: 13px;
	color: red;
	width: 10%;
	float: left;
	text-align: center;
}
.t2-num span{
}	
.test{
	float: left;
	text-align: center;
	background-color: #F6B297;
	width: 9%;
	margin-top: 2px;
	color: red;
	font-weight: bold;
	margin: 1px;
}
.test1{
	float: left;
	text-align: center;
	background-color: #FCD9C4;
	width: 9%;
	margin-top: 2px;
	color: red;
	font-weight: bold;
	margin: 1px;
}

strong{
	font-size: 200%;
	color: 	white;
}

#time{
	font-size: 30px;
	text-align: center;
	font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
}		
.giaithuong{
	text-align: center;
	color: 	black;
	font-size: 63px;
	font-family: 'Open Sans', Arial, Helvetice Neue, sans-serif;
	font-weight: bold;
}

.giaithuong1{
	color: #fca811;
	float: left;
	text-shadow: 0.2em 0.2em 0.3em black;
}

.value{
	color: #fca811;
	text-shadow: 0.2em 0.2em 0.3em black;
}

.luckyNumber{
	float: left;
	margin-left: 20px;
}

.bigdiv{
	font-family: sans-serif;
	color: white;
	display: inline-block;
	font-weight: 100;
	text-align: center;
	font-size: 30px;
	margin: 1px;
}

.bigdiv > div{
	padding: 10px;
	border-radius: 3px;
	background: #0256c1;
	display: inline-block;
}

.text-time{
	padding: 15px;
	border-radius: 3px;
	background: #84c4e9;
	display: inline-block;
}

.div-description{

}

.btn-preResult{
	position: absolute;
	left: 0px;
	top: 50%;
	margin: 10px;
}

.btn-nextResult{
	position: absolute;
	right: 0px;
	top: 50%;
	margin: 10px;
}

.music{
	position: fixed;
	bottom: 0px;
	left: 40%;
	opacity: 0.2;
}

.music:hover{
	opacity: 1;
}

.head-title{
	color: white;
	text-align: center;
	font-size: 400%;
	font-family: "Dancing Script";
}

.head-title-name{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 500%;
}

.head-date{
	color: white;
	text-align: center;
	font-weight: bold;
	font-size: 500%;
}

.body-price{
	color: white;
	font-size: 300%;
	font-style: italic;
	font-weight: bold;
	background: #84c4e9;
	transform:rotate(-3deg);
}