#title{
	font-size: 30px;
	color: red;
	text-align: center;	
}
#daTitle{
	font-size: 30px;
	color: blue;
	text-align: center;	
}
#dangki{
	float: left;
	width: 100%;
}
#dangki input{
	margin-left: 10px;
}
.info{
	width: 30%;
}
.info input{
	border: 0px;
	font-size: 16px;
	margin-bottom: 5px;
}
.info p{
	font-size: 16px;
	text-align: right;
}
.day{
	font-size: 16px;
	color: blue;
	margin-top: 10px;
}
.subTitle{
	text-align: center;
	font-size: 20px;
	color: #ff7600;
}
.imgMenu{
	margin-left: 50px;
	margin-top: 100px;
	overflow: hidden;
	position: relative;
	width: 100%;
}
.tRegis{
	width: 100%;
	
}
.tRegis tr td{
	border: 1px solid black;
	width: 20%;
	text-align: center;
	font-size: 20px;
}
.btnLeft{
	float: left; ;
}
.btnRight{
	float: right;
}