.Tamly{
	background: #BB0000;
}
.Chuyenmon{
	background: blue;
}
.Kynang{
	background: #FFCC33	;
}
.Kienthuc{
	background: green;
}
.Congdong{
	background: #FF6600;
}
.Thechat{
	background: #666666;
}